@font-face{
    font-family: spartan;
    src: url('/fonts/spartan.ttf');
}
:root{
    font-family: spartan;
}

.anchor-pane{
    -fx-background-color: #f1f1f1;
}

.title{
    -fx-background-color: #6639D4;
}

.back-button{
    -fx-background-color: #f1f1f1;
}

.tab-pane{
    -fx-background-color: #7CCADE;
}