/*Entire table*/
.table-view {
    -fx-background-color: #6639D4;
    -fx-background-radius: 20px;
}

/*Align table text to  center*/
#col {
    -fx-alignment: CENTER;
}

/*Single cells*/
.table-row-cell{
    -fx-font-size: 30px;
    -fx-background-color:  rgb(253, 253, 253);  
    -fx-background-radius: 10px;
    -fx-pref-height: 100px;

    /*Spacing between cells and edge of table*/
    -fx-padding: 10px;
    -fx-border-insets:10px;
    -fx-background-insets: 10px;
}

/*Making header transparent*/
.table-view .column-header-background{
    -fx-background-color: transparent;
}
.table-view .column-header {
    -fx-background-color: transparent;
    -fx-pref-height: 0px;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

/*Making scroll bats invisible*/
.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
