.table-view {
    -fx-background-color: rgba(0, 0, 0, 0);
}

.table-row-cell:even {
    -fx-background-color: #7CCADE;
}

.table-row-cell:odd {
    -fx-background-color: #8DF5EE;
}

.joker-button {
    -fx-background-color: #6639D4;
}

.joker-button:hover {
    -fx-background-color:#8DF5EE;
}