.mainButton {
    -fx-background-color: #7CCADE;
}

.mainButton:hover {
    -fx-background-color: #6639D4;
    -fx-text-fill: #f1f1f1;
}

#quitButton {
    -fx-background-color: #8DF5EE;
}

#quitButton:hover {
    -fx-background-color: #7259ff;
    -fx-text-fill: #f1f1f1;
}

#howToPlayButton {
    -fx-background-color: #6639D4;
}

#howToPlayButton:hover {
    -fx-background-color: #8DF5EE;
    -fx-text-fill: #000000;
}

#howToPlayText {
    -fx-background-color: white;
    -fx-background-radius: 20;
}

#adminButton {
    -fx-background-color: #8DF5EE;
}

#adminButton:hover {
    -fx-background-color: #7259ff;
    -fx-text-fill: #f1f1f1;
}
